<div class="row">
    <div class="page-header">
        <h2>Course Overview</h2>
    </div>
    <div class="col-md-2">
        @Html.Partial("_ScheduleMenuPartial")
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>CRS001 - Course 1</h1>
                <p>Lecturer: Mr. Abc</p>
                <p>Start Date: 13-Mar-2016</p>
                <p>End Date: 26-Jun-2016</p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Description
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur mi sit amet erat consectetur pharetra. Nam malesuada gravida eleifend. Maecenas vulputate mauris et felis fermentum malesuada vitae at ex. Vivamus id ipsum quis tortor auctor venenatis. Nunc mollis scelerisque volutpat. Curabitur in rutrum nisi, eget feugiat lectus. Etiam placerat erat non porta consequat. Nullam eleifend maximus lectus, vitae luctus metus. Fusce nec erat pharetra, porttitor odio eu, lobortis augue. Vestibulum lacinia at lectus sit amet fermentum. Sed varius sollicitudin leo.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>