<div class="row">
    <div class="page-header">
        <h2>Live Forum Thread</h2>
    </div>
    <div class="col-md-2">
        @Html.Partial("_ScheduleMenuPartial")
    </div>
    <div class="col-md-10">
        <h1>Explain about ASP.NET Architecture...</h1>
        <div class="chat-panel-body">
            <ul class="chat">
                <li class="left clearfix">
                    <div class="chat-body">
                        <div class="header">
                            <strong class="primary-font">Student 1</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>12 mins ago
                            </small>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </li>
                <li class="left clearfix">
                    <div class="chat-body">
                        <div class="header">
                            <strong class="primary-font">Student 2</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>12 mins ago
                            </small>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </li>
                <li class="left clearfix">
                    <div class="chat-body">
                        <div class="header">
                            <strong class="primary-font">Student 3</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>12 mins ago
                            </small>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </li>
                <li class="left clearfix">
                    <div class="chat-body">
                        <div class="header">
                            <strong class="primary-font">Student 1</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>12 mins ago
                            </small>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </li>
                <li class="left clearfix">
                    <div class="chat-body">
                        <div class="header">
                            <strong class="primary-font">Student 3</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>12 mins ago
                            </small>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">
                        Post
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>