@model int

<ul class="nav nav-pills nav-stacked">
    <li><a href="@Url.Action("Index", "Schedule", new { id = Model })">Overview</a></li>
    <li><a href="@Url.Action("Module", "Schedule")">Module</a></li>
    <li><a href="@Url.Action("Forum", "Schedule", new { id = Model })">Live Forum</a></li>
    <li><a href="@Url.Action("Quiz", "Schedule", new { id = Model })">Live Quiz</a></li>
</ul>
