<div class="row">
    <div class="col-md-7">
        <div class="page-header">
            <h2>Home</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Schedule")">CRS001 - Course 1</a>
            </div>
            <div class="panel-body">
                Teacher: Mr. Teacher 1<br />
                Start Date: 13-Mar-2016<br />
                End Date: 25-Jun-2016
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Schedule")">CRS002 - Course 2</a>
            </div>
            <div class="panel-body">
                Teacher: Ms. Teacher 2<br />
                Start Date: 13-Mar-2016<br />
                End Date: 25-Jun-2016
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Schedule")">CRS003 - Course 3</a>
            </div>
            <div class="panel-body">
                Teacher: Mr. Teacher 3<br />
                Start Date: 13-Mar-2016<br />
                End Date: 25-Jun-2016
            </div>
        </div>
    </div>
</div>