<div class="row">
    <div class="col-md-7">
        <div class="page-header">
            <h2>Course</h2>
        </div>
        <td><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Course</a></td>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">CRS001</a></td>
                    <td>Course 1</td>
                    <td><a href="#" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
                </tr>
                <tr>
                    <td><a href="#">CRS002</a></td>
                    <td>Course 2</td>
                    <td><a href="#" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
                </tr>
                <tr>
                    <td><a href="#">CRS003</a></td>
                    <td>Course 3</td>
                    <td><a href="#" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>